@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html body {
    font-family: "Roboto";
}

/* css trang chu*/
.header {
    height: 662px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)
    ), url("../image/background_trangchu.jpg") no-repeat center center;
}

.none_nav {
    background: none !important;
    border: none !important;
}

.navbar-nav a {
    color: white !important;
}

.navbar-center {
    margin-left: 25% !important;
}

.active a {
    color: #000000 !important;
    font-weight: bold;
    background: none !important;
}

.dropdown-menu a {
    color: #000000 !important;
}

.envent-header {
    text-align: center;
    margin-top: 261px;
}

.envent-header span {
    color: white;
    font-size: 20px;
}

.envent-header h2 {
    color: white;
    font-size: 50px;
}

@media (min-width: 575px) and (max-width: 767px) {
    .navbar-center {
        margin-left: 0% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-center {
        margin-left: 8% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

.icon {
    width: 48px;
    height: 48px;
}

#info {
    text-align: center;
    margin-top: 48px;
}

#info span {
    margin-top: 16px;
    font-size: 32px;
    font-weight: bold;
}

#title-sanpham {
    text-align: center;
    margin-top: 75px;

}

#title-sanpham span {
    font-size: 15px;
    font-weight: bold;
}

.sanpham {
    height: 256px;
    margin-top: 16px;
}

.border-sanpham {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin: 40px 16px 8px 8px;
    padding-bottom: 16px;

}

.gia {
    font-size: 14px !important;
    color: red;
}

#footer {
    margin-top: 50px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)
    ), url("../image/background_footer.jpg") no-repeat center center;
    color: white;
    padding: 32px;
}

#footer span {
    font-size: 25px;
}

#footer p {
    text-align: center;
}

.noidung .email {
    width: 100%;
    color: #EAEAEA;
    margin-bottom: 10px;
}

.noidung .text-noidung {
    color: #EAEAEA;
    width: 100%;
}
.material-button{
    height: 38px;
    border: none;
    width: 100%;
    background: #00909C;
    box-shadow: 0px 2px 4px 0px #9d9d9d;
}
.button-xemngay{
    height: 38px;
    border: none;
    width: 10%;
    background: #00B2BF;
    box-shadow: 0px 2px 2px 0px #9d9d9d;
}


/* css trang chu*/